body
{
    background-image: url("https://i.ytimg.com/vi/Dg0IjOzopYU/maxresdefault.jpg");
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
}
#c
{
    border: 3px ridge yellow;
	background-color: white;
}

em
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
	font-weight: 2em;
 }
